.__cuerpo_nuevo_producto{
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    
}

.__cuerpo_nuevo_producto div{
    display: flex;
   
    
}

.__columna_1{
    gap: 30px;
    display: flex;
    flex-direction: column;
    flex:1;
}

.__columna_2{
    gap: 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.__columna_3{
    gap: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 40px;
    align-items: baseline;
    
}

.__columna_3 .__tarjeta{
align-items: center;
}





.__columna_4{
    gap: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;

    
}


.__formulario_boton{
    display: flex;
    justify-content: end;
}

.__cuerpo_nuevo_producto .__columna_3 .__boton_icono{
    width: 20px;
}


