.__form_nueva_marca {
    display: flex;
    
}

.__form_nueva_marca .__tarjeta{
    flex: 1;
    padding-bottom: 20px;
    margin-left: 20px;
}

.__form_nueva_marca .__tarjeta .__input{
   width: 75%;
}

.__form_nueva_marca .__boton {
   display: flex;
   align-items: center;
   margin-top: 10px;
 }

