.__formulario_nueva_sucursal{
    display: flex;
    flex-direction: column;
}

.__cuerpo_nueva_sucursal{
    display: flex;
}

.__cuerpo_nueva_sucursal .__columna1{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    gap:25px;
}

.__cuerpo_nueva_sucursal .__columna2{
    flex: 1;
    display: flex;
    flex-direction: column;

    gap:25px;
}

.__boton_nueva_sucursal{
    display: flex;
    justify-content: end;
}