ul.__pestanias_configuraciones {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  transition:  0.5s;
  gap:10px;
}

ul.__pestanias_configuraciones li {
  font-weight: 700;
  font-size: 20px;
  width: 100px;
  font-variant: all-small-caps;
  transition: width 0.5s;
}

ul.__pestanias_configuraciones li a {
  border-radius: 0 0 5px 5px;
  display: block;
  margin: 13px 20px;
  text-align: center;
  text-decoration: none;
  color: rgb(94, 90, 90);
  transition: color 0.5s;
}

ul.__pestanias_configuraciones li a:hover {
  color: #9e030d;
  transition:  0.5s;
}

ul.__pestanias_configuraciones li:hover {
  width: 200px;
  background-color: rgba(128, 128, 128, 0.448);
  border-radius: 50px;
  transition:  0.5s;
}

ul.__pestanias_configuraciones li:active {
  width: 200px;
  background-color: rgba(128, 128, 128, 0.448);
  border-radius: 50px;
  transition:  0.5s;
}

ul.__pestanias_configuraciones li.active {
  width: 200px;
  background-color: rgba(128, 128, 128, 0.448);
  border-radius: 50px;
  transition:  0.5s;
}

ul.__pestanias_configuraciones li.active a {
  color: #9e030d;
  transition:  0.5s;
}

ul.__pestanias_configuraciones li.active a:hover {
  background-color: rgba(128, 128, 128, 0.448); /* Mantiene el color en hover para pestaña activa */
  color: #9e030d; /* Evita que cambie de color */
  transition:  0.5s;
}

ul.__pestanias_configuraciones li.disabled a {
  pointer-events: none; /* Inhabilitar el click en la pestaña activa */
  color: #9e030d; /* Opcional: cambiar color para dar apariencia desactivada */
  transition:  0.5s;
}
