.__selector {
    display: block;
    width: 176px;
    height: 38.8px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    border:  solid #3a3939a7;
    border-radius: 5px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    appearance: none; /* Quita la apariencia por defecto del select */
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1.5em;
}   

.__selector:focus {
    background-color: rgb(250, 202, 202);
    border-color: #9c1825e4;
    outline: 0;
    box-shadow: 0 0 0 2px #9c1825a3;
    transition: border-color .15s ease-in-out, box-shadow .25s ease-in-out;
}

.__selector:hover {
    background-color: rgb(250, 202, 202);
    border-color: #9c1825e4;
    outline: 0;
    box-shadow: 0 0 0 2px #9c1825a3;
    transition: border-color .15s ease-in-out, box-shadow .25s ease-in-out;
}

.__selector > option{
    background-color: #ffffff;
    max-height: 200px; /* Establece la altura máxima de las opciones */
    overflow-y: auto; /* Agrega scroll vertical si es necesario */
}



option{
    transition: border-color .15s ease-in-out, box-shadow .25s ease-in-out;
}